

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
}

/* start banner section */

.banner-container{
    width: 100%;
    height: 90vh;
}
.banner{
    position: relative;
    width: 83%;
    height: 77vh;
    display: flex;
    margin: 60px auto;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Banner\ Image.png);
    background-size: cover;
    justify-content: center;
    align-items: center;
   
    
}
.banner-title{
    color: #fff;
    width: 600px;
    height: 200px;
    text-align: center;
}
.banner-title>p{
    font-size: 30px;
    align-items: center;
    margin-bottom: 10px;
}
.banner-title>h1{
    font-size: 70px;
}

/* end banner section */

/* start discount section */
.discount-container{
    width: 60%;
    height: 120vh;
    margin: 10px auto;
}
.discount-title>h1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 40px;
}
.discount-title>p{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
}
.discount-title>h2{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}
/* end discount section */

/* start party section */
.party-container{
    width: 100%;
    height: 90vh;
}
.party{
    position: relative;
    width: 83%;
    height: 77vh;
    display: flex;
    margin: 60px auto;
    border-radius: 16px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Vectorrr.png);
    background-size: cover;

}
.party-title{
    width: 550px;
    color: #fff;
    text-align: left;
    margin: 100px 10px 10px 115px;

}
.party-title>h1{
    color: #FFF;
    font-family: Merriweather;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 77px;
    letter-spacing: 6px;
}

.party-title>p{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    margin-top: 30px;
}
.join-btn{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-color: inherit;
    border: none;
    margin: 40px 0px 0px 50px;
}

.party-yr{
    display: flex;
    width: 200px;
    height: 400px;
    margin: 68px 0px 0px 60px;
}
/* end party section */

/* start address section */
.address-container{
    width: 100%;
    height: 90vh;
}
.address{
    position: relative;
    width: 83%;
    height: 60vh;
    display: flex;
    margin: 64px auto;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    border: 1px solid red;

}
.address-title{
    width: 500px;
    height: 200px;
    margin: 100px auto;
    text-align: center;
    font-size: 20px;
    line-height: 45px;

}
.address-btn{
    width: 130px;
    height: 50px;
    border-radius: 8px;
    color: #fff;
    background: #F00;
    display: inline-flex;
    /* padding: 16px 32px; */
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 30px;
    border: none;
}

span{
    color: #F00;
}
/* start address section */